*{
    padding: 0%;
    margin-top: 0%;
}
h1{
    text-align: center;
    color: blue;
}

h2{
    color: red;
}
p{
    color: orange;
}
ul{
    color: brown;
    padding-left: 2px;
}
